menu "ATP Linux Kernel Extension"
config SUPPORT_ATP
	bool "Support ATP feature"
	default y
config ATP_COMMON
	bool "Support ATP feature"
	default y
config DT_COMMON
	bool "Support DT feature"
	default n
config ATP_KERNEL_3_4
	bool "Support ATP linux 3.4 feature"
	default y
source "package/atp/applications/KConfig.in"
source "package/atp/configuration/KConfig.in"
source "package/atp/network/KConfig.in"
source "package/atp/libraries/KConfig.in"
source "package/atp/driver/Config.in"
endmenu
